<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travel.shekhar.tourist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".delhi">
            <intent-filter>
                <action android:name="com.travel.shekhar.tourist.delhi" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".chennai" >
        <intent-filter>
            <action android:name="com.travel.shekhar.tourist.chennai" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>


        <activity android:name=".kolkata" >
        <intent-filter>
            <action android:name="com.travel.shekhar.tourist.kolkata" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
</activity>

        <activity android:name=".mumbai" >
        <intent-filter>
            <action android:name="com.travel.shekhar.tourist.mumbai" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        <activity android:name=".hyderabad" >
        <intent-filter>
            <action android:name="com.travel.shekhar.tourist.hyderabad" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        <activity android:name=".bangalore">
            <intent-filter>
                <action android:name="com.travel.shekhar.tourist.bangalore" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
